<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Under maintenance</title>
</head>
<body>
<h1>Will be right back!</h1>
<p>Website is under maintenance</p>

{{> footer}}

</body>
</html>